<div class="container fluid mt-5">
    <h1>Bilim Bülteni</h1>
    <div class="row">
      <div *ngFor="let bilim of teknoBilim" class="col-lg-3 mt-3 mb-3">
        <div class="box">
          <img
            style= "object-fit: cover; width: 100%; height: 100%"
            src="{{ bilim.urlToImage }}"
            alt=""
          />
          <p>{{ bilim.publishedAt }}</p>
          <h3 class="card-title" >{{ bilim.title }}</h3>
          <p>
            {{ bilim.description }}
            <a class="btn btn-primary" href="{{ bilim.url }}">Devamı... </a>
          </p>
        </div>
      </div>
    </div>
  </div>
