<div class="container fluid mt-5">
    <h1>Genel Bülteni</h1>
    <div class="row">
      <div *ngFor="let genel of genelData" class="col-lg-3 mt-3 mb-3">
        <div class="box">
          <img
            style= "object-fit: cover; width: 100%; height: 100%"
            src="{{ genel.urlToImage }}"
            alt=""
          />
          <p>{{ genel.publishedAt }}</p>
          <h3 class="card-title" >{{ genel.title }}</h3>
          <p>
            {{ genel.description }}
            <a class="btn btn-primary" href="{{ genel.url }}">Devamı... </a>
          </p>
        </div>
      </div>
    </div>
  </div>
